{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_fawry/process

    Context variables required for this template:
    * show_accept_iframe - showing or hiding iframe according to payment method.
    * iframeurl - the url of iframe
    * ref - the reference code for payment in fawry_reference method

    Example context (json):
    {
        "reference": "123456",
        "amount": "50.00",
        "deadtime": "2 july 2024",
        "success": "1",
        "error": ""
    }

}}

<div id="accepting-container">
    <div class="accept_fawry_reference" style="text-align:center;">
        {{#success}}
            <h2>{{# str }} reference_bill_reference, paygw_fawry {{/ str }}</h2>
            <h3 class="fawry_reference">{{reference}}</h3>
            <h4 class="fawry-amount"> {{#str}} refamount, paygw_fawry {{/str}}: {{amount}} EGP</h4>
            <p>{{# str }} validto, paygw_fawry {{/ str}}: {{deadtime}}</p>
            <p>{{# str }} reference_process_help, paygw_fawry {{/ str }}</p>
            <div data-purpose="status"></div>
        {{/success}}
        {{^success}}
            <h2>{{# str }} reference_error, paygw_fawry {{/ str }}</h2>
            <h3 class="fawry_reference_error">{{error}}</h3>
        {{/success}}
    </div>
</div>
